$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}

.Couches{
	width: 100%;
	position: relative;
	height: 100%;
	background: white;

	button.ant-btn{
		width: pxTorem(100);
		height: pxTorem(30);
		font-size: pxTorem(12);
	}
	

	.header{
		width: 100%;
		position: absolute;
		left: -0.5px;
		height: pxTorem(391);
		background: linear-gradient(142deg,rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.83) 100%),url("../img/background_introduce_bottom.png");
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;

		.logo{
			background: url('../img/logo_medium.png');
			background-repeat: no-repeat;
			width: pxTorem(130);
			height: pxTorem(30);
			display: inline-block;
    		margin-top: 50px;
		}
	}

	.ant-layout-content {
		padding: pxTorem(134) pxTorem(51) pxTorem(51) pxTorem(51) ;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    position: absolute;
	    background-color: transparent;
	    display: flex;
	    flex-direction: column;

	    .filter{
		    width: 100%;
		    height: pxTorem(50);
		    line-height: pxTorem(50);
		    background-color: white;
		    overflow: visible;
		    padding: 0 pxTorem(20);
		    z-index: 2;
		    .selectWrapper{
		    	width: 100%;
			    text-align: center;
			    border-bottom: 1px solid #e8e8e8;
			    .ant-select:first-child{
			    	margin-right: pxTorem(20);
			    }
			    .ant-select-selection{
			    	border-radius: pxTorem(2) pxTorem(2) 0 0;
			    }
		    }
	    }
		article{
			width: 100%;
			flex: 1;
			overflow: hidden;
			border-radius: 0;
			background-color: white;
			padding: pxTorem(24) pxTorem(20) 0 pxTorem(20);
			.ant-list{
				height: 100%;
				.ant-col-6{
					position: relative;
				}
				.ant-list-item-content.ant-list-item-content-single{
					width: pxTorem(325);
					height:pxTorem(137);
					line-height:pxTorem(137);
					border: 1px solid #E6E6E6;
					.ant-card-head{
						border-bottom: 0px;
						line-height: 1;
						.ant-card-head-title{
							font-size: pxTorem(20);
						}
					}
					.ant-card-body{
						padding-top: 0px;
						padding-bottom: 0px;
						font-size: pxTorem(11);
						border: none;
					}
					.ant-card-bordered{
						border: 0;
					}
				}
				overflow-y: scroll;
				.ant-col-8{
					height: pxTorem(137);
					line-height: pxTorem(137);
					text-align: center;
					padding: 0 !important;
				}
				.ant-col-16{
					height: pxTorem(135);
					padding-left: 0!important;
				}
				.imageWarpper{
					width: pxTorem(75);
					height: pxTorem(75);
					border-radius: 50%;
					overflow:hidden;
					position: relative;
					margin: pxTorem(31);
				}
				img{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					display: inline-block;
					overflow:hidden;
					background-size: cover;
					background-repeat: no-repeat;
				}
				Button{
					width: pxTorem(100);
				}
			}
		}
	}
}