$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}

.ant-carousel{
	border-radius: pxTorem(6);
	height: 100%;
	.slick-slider{
		height: 100%;
		.slick-list{
			height: 100%;
			.slick-track{
				height: 100%;
			}
		}
		.slick-slide {
			height: 100%;
			width: 100%;
			text-align: center;
			background: transparent;
			overflow: hidden;
			h3 {
				color: #fff;
			}
		}
	}
}

/*基础介绍页*/
#root .HomeBase {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; // 优化移动端滑动体验
	background-color: #4F4F4F;
	/*灰色头部介绍*/
	.topheader {
		/*background-color: #4F4F4F;*/
		background: linear-gradient(182deg,rgba(0,0,0,0.63) 0%,rgba(0,0,0,0.95) 100%),url("../img/background_introduce.png");
		background-repeat: no-repeat;
		background-size: cover;
		padding: pxTorem(70) pxTorem(52) pxTorem(50) pxTorem(52) ;
		.title{
			text-align: center;
			padding-top: 0rem;
			.logotxt,.startxt{
			}
			h1{
				height: pxTorem(45);
				line-height: pxTorem(45);
			}
			.titletxt{
				color: white;
				font-size: pxTorem(25);
				font-weight: 500;
				margin-bottom: pxTorem(10);
			}
			.logotxt{
				color: white;
				margin-bottom: pxTorem(10)
			}
			.logotxt,.startxt{
				font-size: pxTorem(15); 
				height: pxTorem(15);
				line-height: pxTorem(15);
			}
			.startxt{
				font-size: pxTorem(12);
				color: #AEBE43
			}
		}
		.content{
			padding:  pxTorem(30) 0 0 0;
			color: #d0d0d0;
			section {
				padding-bottom: pxTorem(24);
				line-height: pxTorem(20);
			}
		}
	}
	.cardWrapper.background-gray .ant-card {
		color: #CCCCCC;	
		.ant-card-head, .ant-card-body{
			color: #CCCCCC;
			.address{
				color: #CCCCCC;
			}
		}
	}
	.cardWrapper{
		/*padding: 0 pxTorem(50) pxTorem(55) pxTorem(50) ;*/

		.image-warpper{
			z-index: 1;
			width: pxTorem(200);
			height: pxTorem(300);
			border: 2px solid #AEBE43;
			margin: auto;
			padding: pxTorem(25) 0;
			margin-top: pxTorem(50);
			.image{
				margin-top: 0;
				width: pxTorem(142);
				height: pxTorem(250);
				border-radius: pxTorem(0);
			}
		}
		.image-warpper.top{
			margin-top: pxTorem(-25);
		}
	}

	.cardWrapper.text-white {
		background: linear-gradient(142deg,rgba(0,0,0,0.63) 0%,rgba(0,0,0,0.95) 100%),url("../img/background_introduce_bottom.png");
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: pxTorem(50);
		h2{
			font-size: pxTorem(20);
			font-weight:500;
			text-align: center;	
		}
		.ant-card{
			.ant-card-head{
				padding-top: pxTorem(0);
			}
			.ant-card-head-title{
				font-size: pxTorem(15);
				color: #AEBE43;
				text-align: center;
				padding: 0;
			}

			.ant-card-head-wrapper:after{
			    left: 50%;
			    width: pxTorem(60);
			    margin-left: pxTorem(-30);
			    top: pxTorem(40);
			}

			.ant-card-body{
				width: pxTorem(316);
				color: #999999;
    			margin: auto;
			}
		}
	}	
}
