$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}
.scoll.onlineshop{
	.icon{
		background: url("../img/scoll.png");
	}
}

.buyWapper{
	position: absolute;
	bottom: 0;
	left: 10%;
	height: pxTorem(50);
	padding-bottom: pxTorem(20);
	background-color: white;
	width: 80%;
}

.buy.buyWapper{
	display: none;
}
.onlineshop{
	position: relative;
	background-color: #333333;
	height: 100%;
   	overflow: hidden;

   	button.ant-btn{
		width: pxTorem(100);
		height: pxTorem(30);
		font-size: pxTorem(12);
	}
	.icon{
		position: absolute;
		width: 76px;
		height: 76px;
		top: pxTorem(64);
		left: 50%;
		margin-top: -42px;
		margin-left: -38px;
		background-size: 100%;
		background-repeat: no-repeat;
		background: url("../img/product.png");
		z-index: 2; 
	}
	.ant-col-24ant-col-24.ant-card-bordered{
		overflow: hidden;
		position: relative;
		width: pxTorem(206);
		max-height: pxTorem(279);
		border:1px solid rgba(230,230,230,1);
		img{
			width: 100%;
			height: pxTorem(137);
		}
	}
	.ant-layout-content {
		height: 100%;
    	overflow: hidden;
		padding: pxTorem(64) pxTorem(40)  pxTorem(42) pxTorem(60);
		article.shadow{
			background-color: white;
			box-shadow:0px 1px 16px 0px rgba(0,0,0,0.1);
			padding: pxTorem(50) pxTorem(35) 0 pxTorem(15);
			height: 100%;
    		overflow: hidden;
    		.ant-list{
    			overflow: scroll;
    			height: 100%;
    		}
		}
		.ant-card-cover{
			width: 100%;
			height: pxTorem(127);
			overflow: hidden;
			img{
				object-fit: cover;
			}
		}
		.ant-card-body{
			padding: pxTorem(15) pxTorem(20) pxTorem(20) pxTorem(20);
			
		}
		.ant-card-meta-title{
			display: -webkit-box;
			-webkit-box-orient: vertical !important;
			-webkit-line-clamp: 2;
			white-space:normal;
			overflow: hidden;
			width:pxTorem(156);
			height:pxTorem(45);
			font-size:pxTorem(15);
			font-weight:500;
			line-height:pxTorem(23);
			margin-bottom: pxTorem(10);
		}

		.ant-card-meta-description{
			color: #AEBE43 !important;
			font-size: pxTorem(12);
			height: pxTorem(12);
			line-height: pxTorem(12);
			margin-bottom: pxTorem(15);
		}
	}
}